/* Estilos para el cuerpo centrado */
body{
    background-color: #f0f0f0; 
  }
  
  /* Estilos para el textarea */
  textarea[name="user-input"] {
    font-size: 16px;
    height: 30%;
    margin: 0;
    outline: 0;
    padding: 20px;
    width: 70%;
    background-color: white;
    color: #44d3f3;
    border-color: #44d3f3;
    border: solid 1px;
    margin-bottom: 30px;
    resize: none;
  }
  
  /* Estilos para los elementos de la lista */
  .item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    border: solid 1px;
    border-color: #44d3f3;
    background-color: white;
    padding: 3px;
    width: 32%;
    list-style: none;
    font-style: italic;
  }
  
  /* Estilos para el footer */
  footer {
    font-size: 1rem;
  }
  
  /* Estilos para el header */
  header {
    overflow: hidden;
    background-color: black;
    padding: 20px 10px;
  }
  
  /* Estilos para el botón */
  #reset-button {
    color: #6be5fb;
    background: green;
  }
  