/* Estilos para el cuerpo centrado */
body{
    background-color: #f0f0f0; 
  }

    .contenedor{
    display: flex;
    justify-content: center;
  }
  /* Estilos para el textarea */

  textarea[name="user-input"] {
    font-size: 16px;
    height: 30%;
    margin: 0;
    outline: 0;
    padding: 20px;
    width: 70%;
    background-color: white;
    color: #44d3f3;
    border-color: #44d3f3;
    border: solid 1px;
    margin-bottom: 30px;
    resize: none;
  }
  

  /* Estilos para los elementos de la lista */
  .item {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    border: solid 1px;
    border-color: #44d3f3;
    background-color: white;
    padding: 1px;
    width: 30%;
    list-style: none;
  }
  
  /* Estilos para el footer */
  footer {
    font-size: 1rem;
    color: rgb(64, 8, 113);
  }
  
  /* Estilos para el header */
  header {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    overflow: hidden;
    background-color:rgb(60, 150, 195);
    padding: 20px 10px;
    color: #f0f0f0;
  }
  
  /* Estilos para el botón */
  button.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del contenedor según tus necesidades */
  }
  
  #reset-button {
    font-size: 20px; /* Tamaño del texto del botón*/
    padding: 15px 22px; /* Tamaño botton */
    background-color: #44d3f3;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  
  
  
  